
body {
    background-color: #333333;
    font-family: 'Montserrat', sans-serif;
    color: fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}

.container {
    text-align: center;
    align-content: center;
}

/* Button */
.button {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    width: 120px;
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
    font-size: 0.9em;
    background-color: #fff;
    color: #646464;
}

.button.blue {
    background-color: #4285f4;
    color: #fff;
}

/* FAB */
.fab {
    text-align: center;
    position: relative;
    align-content: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.fab.blue {
    background-color: #4285f4;
    position: relative;
    text-align: center;
    display: inline-block;
}


.fab:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
}


.bg {
    display: none;
}

.test {
    height: 250px;
    width: 250px;
    border-radius: 125px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
}

.test-big {
    height: 250px;
    width: 250px;
    border-radius: 125px;
    color: white;
    background-color: darkgreen;
    border: none;
    font-size: 125px;
    font-family: 'Montserrat', sans-serif;
}

.test-testing {
    height: 250px;
    width: 250px;
    border-radius: 125px;
    color: white;
    background-color: darkred;
    border: none;
    font-size: 125px;
}

.test:focus{
    outline: 0;
}

.test-big:focus{
    outline: 0;
}

#resultDiv {
    font-size: 40px;
    height: 50px;
    margin-top: 20%;
    padding-bottom: 50px;
}

#passDiv {
    padding-top: 30px;
    font-size: 40px;
}

#passDiv-fail {
    color: red;
}

#passDiv-pass {
    color: darkblue;
}

nav {
    margin-top: 25px;
    text-align: center;
}
.nav-img {
    max-width: 15%;
    padding-left: 7%;
    padding-right: 7%;
}
